@import "../../assets/global-styles/colors";

.supportive-text {
    color: $clr-primary;
    text-align: center;
}

h1 {
    text-align: center;
}

.contact-form {
    //background: #fff;
    padding: 20px;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 96px;
    // height: 1000px;

    gap: 32px;
    

    max-width: 480px !important;
    
    // transform: rotate(14deg);
    input,
    textarea {
        border: 1px solid #CFD5DE;
        width: 224px;
        height: 44px;
        flex: 1 1 100%;
        border-radius: 8px;

        &.full-width {
            width: 480px;
        }

        &:focus {
            outline: none;
        }
    }

    input {
        padding-left: 15px;
        color :$clr-placeholder-text;
    }

    textarea {
        height: 134px;
        resize: none;
        padding: 12px 14px;
        font-family: "Inter", sans-serif;
        color: $clr-placeholder-text;
        font-size: 16px;
    }
    label {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 6px;
        color: #314056;
        text-transform: capitalize;
    }
}
.lg-btn-primary {
    background: $clr-primary;
    border: 1px solid $clr-primary;
    color: #fff;
    display: block;

    font: {
        size: 16px;
        weight: 600;
    }
    padding: 12px 0;
    letter-spacing: 1px;
    text-transform: capitalize;

    border-radius: 8px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
        color: darken(#fff, 10%);
    }

    &.full-width {
        width: 100%;
    }
}
.row {
    display: flex;
    width: 480px;
    column-gap: 32px;
}
.card {
    // background: #fff; 
    max-width: 480px;

    
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15)
}

.form-group {
    margin-bottom: 24px;
.full-width {
    width: 100%;
}

}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: $clr-placeholder-text;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid $clr-border-base;

}