@import "../assets/global-styles/colors";
.contact-form {
    text-align: left;
}

h1 {
    color: $clr-primary; 
}

.portfolio {
    .supportive-text {
        color: $clr-primary;
        text-align: center;
    }
}