<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
</head>

<body>
    <section class="portfolio">
        <div class="supportive-text">my portfolio</div>
        <div class="container">
            <h1>Recent projects</h1>
            <div class="portfolio-items">
                <div class="box">
                    <div class="info">
                        <div class="title">Untitled UI Kit</div>
                        <div class="sub-heading">best ui kit</div>
                        <ul class="links">
                            <li><a href="#">github repo</a></li>
                            <li><a href="#">live</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="info">
                        <div class="title">In-browser Markdown editor</div>
                        <div class="sub-heading">Inspired by Typora</div>
                        <ul class="links">
                            <li><a href="#">github repo</a></li>
                            <li><a href="#">info</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="info">
                        <div class="title">kaylios</div>
                        <div class="sub-heading">Social network for developers</div>
                        <ul class="links">
                            <li><a href="#">github repo</a></li>
                            <li><a href="#">info</a></li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="supportive-text">contact me</div>
            <h1>get in touch</h1>
            <p class="sub-heading">We’d love to hear from you. Please fill out this form.</p>
        </div>
    </section>
</body>

</html>