@import "../assets/global-styles/colors";
.contact-form {
    text-align: left;
}



.box {
    background: #999;
    width: 420px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(black, 0.15);

}

