/* You can add global styles to this file, and also import other style files */

@import "assets/global-styles/base";
@import "assets/global-styles/colors";
@import "assets/global-styles/forms";
@import "assets/global-styles/row";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

