@import "../global-styles/colors";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
    // align-content: center; align vertically
    justify-content: center; // allign horizontally
}

h1 {
    font-size: 36px;

    margin: {
        top: 6px;

    }
    &::first-letter {
        text-transform: capitalize;
    }
}

.sub-heading {
    font-size: 20px;
    color: $clr-sub-heading-text;
    margin-top: 24px;
    text-align: center;
}

label {
    display: inline-block;
}

input {
    border: 0;
}